# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science 
- List commomly used libraries for Data Science
- Create a table of Data Science Tools

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
- Pandas 
- NumPy 
- Scikit-learn

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335

## Author
Edison